@page
@model Parking.Pages.PrcTable.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h3>Tabela de Preços - Detalhamento</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceTable.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceTable.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceTable.HourPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceTable.HourPrice)
        </dd>
        <dt class="col-sm-2">
            InÍcio/Validade
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceTable.EntryDate)
        </dd>
        <dt class="col-sm-2">
            Fim/Validade
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceTable.DepartureDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PriceTable.Id">Alterar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
